/* Raleway font import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */ /*color: var(--example);*/
:root {
    /* Colors */
    --bluetiful: #0065FC;
    --bluetiful-0: rgba(0, 101, 252, 1);
    --lavender-web: #DEEBFF;
    --lavender-web-o: rgba(222, 235, 255, 1);
    --cultured: #F2F2F2;
    --cultured-o: rgba(242, 242, 242, 1);
    --white: #fff;
    --white-o: rgba(255, 255, 255, 1);
    --black: #000;
    --black-o: rgba(0, 0, 0, 1);

    /* Font */
    --raleway: 'Raleway', sans-serif;

    /* Font-size */

    /* Icons */
    /* <i class="fas fa-money-bill-wave"></i>
    <i class="fas fa-child"></i>
    <i class="fas fa-heart"></i>
    <i class="fas fa-dog"></i>
    <i class="fas fa-info"></i>
    <i class="fas fa-map-marker-alt"></i>
    <i class="fas fa-chart-line"></i> */
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--bluetiful);
    color: var(--white);
    text-shadow: none;
}

body {
    font-family: var(--raleway);
    color: var(--black);
    background-color: var(--white);
}